﻿body {
}

.page {
    margin: 0 auto;
    padding: 0 10px;
    width: 800px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

td {
    width: 400px;
}

table {
    height: 650px;
}

.shadow1 {
    background-color: rgb(68,68,68); /* Needed for IEs */
    -webkit-box-shadow: 2px 2px 19px 13px rgba(50, 50, 50, 0.49);
    -moz-box-shadow: 2px 2px 19px 13px rgba(50, 50, 50, 0.49);
    box-shadow: 2px 2px 19px 13px rgba(50, 50, 50, 0.49);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
}

    .shadow1 .main-content {
        position: relative; /* This protects the inner element from being blurred */
        background-color: #BBEFFD;
    }
